<h1>Bienvenido a la serie de Fibonacci </h1>

<app-custom-input
    [inputType]="'number'"
    [inputLabel]="'number'"
    [(value)]="casosDePrueba"
></app-custom-input>

<app-button
    [labelMessage]="'Calcular'"
    [textButton]="'Calcular'"
    (buttonClick)="handleAction()"
></app-button>

@if (errorMesas !== "") {
    <p><strong>{{errorMesas}}</strong></p>
}@else {
    @for (item of serieFibonacci; track $index) {
        <p>{{item}}</p>
    }@empty {
        <p>Debe seleccionar el número de casos de prueba</p>
    }
}

@for (item of serieFibonacci; track $index) {
    <p>{{item}}</p>
}   @empty {
        <p>Debe serleccionar el num de casos de prubea </p>
    }

